.testingBlock {
	width: 500px;
	height: 200px;
	margin: auto;
	border: 3px solid #000000;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
}
.testContainer {
	display: block;
	margin: auto;
	text-align: center;
}
.testDiv {
	width: 100px;
	height: 40px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 10px;
	text-align: center;
	border: 3px solid red;
}
.buttons {
	display: relative;
}