@media only screen and (min-width: 37.5em) {

	nav button { 
		display: none;
	}
	nav ul {
		display: block;
	}
	nav ul li {
		display: inline-block;
	}

	section.forecast { 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
		text-align: center;

	}

	main figure img {
		width: 18em;
		float: left;
	}

	th, td {
		border-bottom: 1px solid #000;
}

	main article img {
		width: 250px;
		float: right;
		margin: .5rem;
		box-shadow: 3px 3px 3px #bbb;
	}

	.weather-summary {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}