@media only screen and (min-width: 64em ) {

	nav ul li a {
		font-size: 1.4rem;
		padding: .75rem 1rem;
	}
	main {
		max-width: 70rem;
	}
	main #topSection {
		flex-direction: row;
	}
	main div figure { 
		margin-right: 4rem;
		flex-grow: 0;
	}
	main div figure img {
		width: 42em;
	}

	.weather-summary {
		justify-content: center;
	}

	/* Home Page Styles */
	.weatherStory {
		margin: 1.5rem 0 2.5rem 0;
	}
	.weatherStory img {
		width: 33rem;
		height: 15rem;
		margin: 0;
	}
	.cityCards {
		display: block;
		width: 20rem;
		border: 2px solid #38B2CE;
		margin: 1rem;
		box-shadow: 5px 5px 10px gray;
	}
	.sbs {
		border: none;
		box-shadow: none;
	}
	.cityCardsLarge {
		width: 100%;
	}
	.weatherStoryText {
		padding-top: 1.75rem;
		border: 2px solid #38B2CE;
		border-radius: 10px;
		box-shadow: 5px 5px 10px gray;
	}
	.item {
		order: 0;
	}
	#cityCardSection{
		display: flex;
		justify-content: space-evenly;
	}
	/*Gallery Styles*/
	main.gallery  {
		grid-template-columns: repeat(3, 1fr);
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	main.gallery div:hover {box-shadow: 5px 5px 20px gray;}


	/* Storm Center */
	main.stormCenterForm{
		max-width: 50%;
	}

	/* Thank you Page */
	main.thankYou {
		max-width: 80%;
		padding: 3rem;
	}
	main.thankYou h1 {
		padding-bottom: .5rem;
	}
	main.thankYou img {
		width: 35em;
	}






}